.sb1-markdown-employee{
    &__layout{
        flex-direction: column-reverse; 
        @media screen and (min-width: @breakpoint-md) {
            flex-direction: row; 
        }
    }
    &__image{
       //width: 250px;
   }
   .content{
       font-family: 'MuseoSans-300', arial, sans-serif;
       font-size: 24px;
       line-height: 36px;
   }
}