.sb1-markdown-employee{
    &__layout{
        flex-direction: column-reverse; 
        @media screen and (min-width: @breakpoint-md) {
            flex-direction: row; 
        }
    }
    &__image{
       max-width: 350px;
       width: 100%;
   }
   .info{
       &-header{
           padding-top: 100px;
           display: flex;
           justify-content: space-between;

           h1{
               margin-bottom: 0;
           }
           p{
               margin-top: 0;
           }
           &__contact{
            display: flex;
            .btn-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 20px;
            }
           }

           &__title {
               margin-top: @ffe-spacing-xs!important;

               @media (min-width: @breakpoint-md) {
                    display: inline-block;
                    height: 36px;
                    line-height: 36px;
                    background: rgba(0,113,205,.3);
                    border-radius: 18px;
                    padding: 0 @ffe-spacing-sm;
                }
           }

           &::before {
            @media (min-width: @breakpoint-md) {
                content: "";
                position: absolute;
                top: 175px;
                left: 33%;
                display: block;
                background: @ffe-farge-frost-30;
                width: 67%;
                height: 700px;
                z-index: -1;
            }
        }

       }
       &-content{
        font-family: 'MuseoSans-300', arial, sans-serif;
        font-size: 18px;
        line-height: 1.75em;

        p {
            margin: 0 0 @ffe-spacing-md 0;

            strong {
                font-weight: normal;
                font-family: 'MuseoSansRounded-700', arial, sans-serif;
            }

            > strong {
                display: block;
            }
        }

        &__questions {
            background: @ffe-grey-warm;
            padding: @ffe-spacing-md;

            @media (min-width: @breakpoint-md) {
                padding: @ffe-spacing-2xl;
                margin-left: -45%;
                margin-top: -36px;
            }
        }
       }
   }
}

.btn-circle{
    border: none;
    border-radius: 50%;
    background-color: @ffe-blue-azure;
    padding: 10px;
    width: 48px;
    height: 48px;
    color: @ffe-white;
    svg{
        fill: @ffe-white;
    }
}