
.sb1-page {
    font-size: 18px;
    line-height: 1.75em;
    font-family: 'MuseoSans-300', arial, sans-serif;

    &__header {
        background-color: @ffe-blue-ice;
    }
    
    .hero {
        position: relative;
        display: flex;
        text-align: center;
        height: 300px;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        @media (min-width: @breakpoint-md) {
            height: 540px;            
        }

        &-circle {
            background-color: rgba(255, 255, 255, .7);
            border-radius: 50%;
            width: 250px;
            height: 250px;
            color: @ffe-black;
            position: absolute;
            left: 50%;
            margin-left: -125px;
            top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;

            @media (min-width: @breakpoint-md) {
                width: 400px;
                height: 400px;
                left: 75px;
                top: 75px;
                margin-left: 0;
            }
        }

        &-image {
            width: 200%;
            max-width: none;
            z-index: 1;

            @media (min-width: @breakpoint-md) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &__teaser{
        p,h2,div{
            color: @ffe-black;
        }
    }
    .bigtext{
        margin-top: 40px;
    }

    .typeSelector{
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        display: inline-block;
        height: 1.5em;
        color: @ffe-blue-azure;
        border-color: @ffe-blue-azure;
        font-size: 18px;
        line-height: 18px;
        background-color: transparent;
        margin: 0 @ffe-spacing-xs;
        padding: 0 @ffe-spacing-lg 0 @ffe-spacing-xs;
        cursor: pointer;

        &:hover {
            color: @ffe-blue-royal;
            border-color: @ffe-blue-royal;
        }

        @media (min-width: @breakpoint-md) {
            font-size: 24px;
            line-height: 24px;
            margin: 0 @ffe-spacing-md;
        }
    }

    .defaultText1,
    .defaultText2,
    .defaultText3,
    .defaultText4{
        background-color: @ffe-grey-silver;
        margin-bottom: 5px;
    }
    .defaultText2{
        margin-bottom: 25px;
        width: 80%;
    }
    .defaultText4{
        width: 90%;
    }

    .ani1{
        animation-name: colorChange1;
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 4s;
        animation-iteration-count: 1;
    }
    @keyframes colorChange1 {
        to {
            color: @ffe-purple;
            font-weight: bold;
        }
    }

    .ani2{
        animation-name: colorChange2;
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 5.5s;
        animation-iteration-count: 1;
    }
    @keyframes colorChange2 {
        to {
            color: @ffe-green;
            font-weight: bold;
        }
    }

    .ani3{
        animation-name: colorChange3;
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 7s;
        animation-iteration-count: 1;
    }
    @keyframes colorChange3 {
        to {
            color: @ffe-orange-fire;
            font-weight: bold;
        }
    }

    .ani4{
        animation-name: colorChange4;
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 8.5s;
        animation-iteration-count: 1;
    }
    @keyframes colorChange4 {
        to {
            color: @ffe-blue-azure;
            font-weight: bold;
        }
    }
}

.fagdag-image {
    @media screen and (min-width: @breakpoint-md) {
        float: right;
        margin: 0 0 16px 32px;
    }
}