@import '~@sb1/ffe-core/less/ffe';
@import (inline) '~@sb1/ffe-webfonts/fonts.css';
@import '~@sb1/ffe-grid/less/ffe-grid';
@import '~@sb1/ffe-buttons/less/buttons';

@import 'header';

body {
  font-family: 'MuseoSans-500', arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.sb1-header {
  text-align: center;

  &__logo {
    max-width: 150px;
  } 
}

.sb1-mediumfeed,
.sb1-instafeed {
  margin: 20px;

  &__article {
    padding: 20px;
    background: #ccc;
    margin-bottom: 20px;
  }
}

.sb1-joblist{
  padding-bottom: 40px;
  width: 100%;

  &__link {
    width: 100%;
  }
}